<%= form_with(model: inquiry, local: true) do |form| %>
  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :inquiry_Name %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.text_field :Date, id: :inquiry_Date %>
  </div>

  <div class="field">
    <%= form.label :Property %>
    <%= form.text_field :Property, id: :inquiry_Property %>
  </div>

  <div class="field">
    <%= form.label :Location %>
    <%= form.text_field :Location, id: :inquiry_Location %>
  </div>

  <div class="field">
    <%= form.label :Price %>
    <%= form.text_field :Price, id: :inquiry_Price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
